<h1>Approve Loan with Adjustments</h1>

<%= form_with(url: approve_with_adjustment_loan_path(@loan), method: :post) do %>
  <div>
    <label for="amount">New Amount:</label>
    <%= number_field_tag :amount, @loan.amount, step: '0.01', required: true %>
  </div>
  <div>
    <label for="interest_rate">New Interest Rate:</label>
    <%= number_field_tag :interest_rate, @loan.interest_rate, step: '0.01', required: true %>
  </div>
  <div>
    <%= submit_tag 'Approve with Adjustments' %>
  </div>
<% end %>

<%= link_to 'Back to Loans', loans_path %>
