<h1>Request a New Loan</h1>

<%= form_with(model: @loan, local: true, data: { turbo: false }) do |form| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% @loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :principal %>
    <%= form.number_field :principal, step: '0.01', required: true %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, step: '0.01', required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Loan Request', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to Loans', loans_path, class: 'btn btn-secondary' %>
